*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#FDFDFF ;

    margin-top: 20px;

    gap: 150px;
}

header nav li{
    display: flex;
    gap: 30px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    

}

header  nav li ul{
    color: #6B7280;
    font-size: 20px;
    cursor: pointer;
}

header  nav li ul:hover{
    color: #31343a;
}

.div-login{
    display: flex;
    gap: 30px ;
}

.login{
    background-color: #FDFDFF;
    color: #3B82F6;
    border: none;

    font-size:20px;

    cursor: pointer;
   
}

.sign-up{
    background-color: #3B82F6 ;
    color: #FDFDFF;
    width: 110px;
    height: 45px;
    border-radius: 10px;
    border-style: none;

    font-size:20px;

     cursor: pointer;

}

.login:hover{
    color: #1357c4;
}

.sign-up:hover{
    background-color: #1357c4;
}


.banner-section{
    width: 100%;
    height: 500px;

    background-color: #DBEAFE;

    display: flex;
    justify-content: space-around;

    padding: 50px;
    margin-top: 50px;
    gap: 150px;
}

.banner-section h1{
    font-size: 40px;
    font-weight: normal;
    color: #000;
    width: 650px;
}

.banner-section p{
    font-size: 15px;
    color: #6B7280;
    width: 650px;
}

.content-left{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.div-buttons-content-left{
    display: flex;
    gap: 30px;

}

.explore-professionals{
 
    padding: 10px 20px;

    background-color: #3B82F6;
    color:#FDFDFF;
    border-style: none;
    border-radius: 10px;

    font-size: 20px;

    cursor: pointer;

}

.learn-more{
    padding: 10px 20px;

    background-color: #DBEAFE;
    color: #1357c4;
    border: #1357c4 solid 1px;
    border-radius: 10px;
    
    font-size: 20px;

     cursor: pointer;

     

    
} 

.explore-professionals:hover{
 
    background-color: #04255a;


}

.learn-more:hover{

    background-color: #40C79A;
    color: #FDFDFF;
    border: #40C79A;
    font-size: 20px;
}


.blue-circle{
    background-color: rgba(0, 97, 255, 36%);
    width: 88px;
    height: 88px;
    border-radius: 50%;

    position: relative;

    right: 40px;
    top: -517px;
}


.green-circle{
    background-color: rgba(98, 255, 177, 50%);
    width: 102px;
    height: 102px;
    border-radius: 50%;

    position: relative;
    left: 539px;
    top: -62px;


}


.professional{
    display: flex;
    flex-direction: column;
    background-color: #FDFDFF;
    align-items: center;
    gap: 50px;
}

.h2-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.h2-text h2{
    font-size: 20px;
    color:#3D3D3D;
    font-weight: normal;
}

.h2-text p{
    color: #6B7280;
}

.grid-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.row-cards{
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.card{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
    gap: 25px;

    box-shadow: 4px 3px 5px rgba(0, 0, 0, 25%);
}

.card img{
    border-radius: 24px;
    
}

.name{
    display: flex;
    justify-items: center;
    gap: 15px;
}

.name p{
    font-size: 24px;
    font-weight: 500;
}


.skills span{
    background-color:rgba(0, 0, 0, 75%) ;
   
    padding: 5px 15px;
    border-radius: 30px;

    color: #FFF;

    font-size: 14px;

}

.footer-card{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    justify-content: space-around;
    gap: 70px;
}

.footer-card-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-card button{
    background: linear-gradient(to bottom,#F2F2F2 0%,#F2F2F2 100%);
    width: 144px;
    height: 45px;
    padding: 10px;
    border-style: none;
    border-radius: 30px;

    color: #6B7280;
    font-size: 20px;
}

.footer-card button:hover{
    background: linear-gradient(to bottom,#3B82F6 0%,#022c6e 100%);
    color: #fff;
   
}

.motivational-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color:#10B981 ;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.motivational-text img{
    background-color: #40C79A;
    height: 72px;
    border-radius: 50%;
    padding: 10px;
}


.motivational-text p{
    font-size: 48px;
    color: #FFF;
}

.about-connectfuture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-connectfuture div{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

    .about-connectfuture div h2{
        color: #3D3D3D;
        font-size: 20px;
        font-weight: normal;
    }

.about-connectfuture div p{
    text-align: center;
    width: 650px;
    height: 150px;
    margin-top: 30px;

    color: #6B7280;
    font-size: 20px;
}

.grid-about{
    
}
